<form action="/get">
  <input name="symbol" placeholder="Symbol" value="<%= params[:symbol] %>">
  
  <button>Get</button>
</form>

<h1>The result is:</h1>

<em><%= @price %></em>

<p>Thank you for using our serverse</p>

