<h1>Please elect your start station and destination station: </h1>

<form action="result">
    <p>
    <label for="start_line">Start line</label>
    <select name="start_line" id="start_line">
        <option value="line_n">Line N</option>
        <option value="line_l">Line L</option>
        <option value="line_6">Line 6</option>
    </select>  
    


    <label for="start_station">Start station</label>
    <select name="start_station" id="start_station">
        <option value="times square">Times square</option>
        <option value="34th">34th</option>
        <option value="28th">28th</option>
        <option value="23rd">23rd</option>
        <option value="union square">Union square</option>
        <option value="8th">8th</option>
        <option value="6th">6th</option>
        <option value="3rd">3rd</option>
        <option value="1st">1st</option>
        <option value="grand central">grand central</option>
        <option value="28th">23rd</option>
        <option value="astor place">Astor place</option>   
    </select>  

    </p>

    <p>

    <label for="destination_line">Destination line</label>
    <select name="destination_line" id="destination_line">
        <option value="line_n">Line N</option>
        <option value="line_l">Line L</option>
        <option value="line_6">Line 6</option>
    </select>  


    <label for="destination_station">Destination station</label>
    <select name="destination_station" id="destination_station">
        <option value="times square">Times square</option>
        <option value="34th">34th</option>
        <option value="28th">28th</option>
        <option value="23rd">23rd</option>
        <option value="union square">Union square</option>
        <option value="8th">8th</option>
        <option value="6th">6th</option>
        <option value="3rd">3rd</option>
        <option value="1st">1st</option>
        <option value="grand central">grand central</option>
        <option value="28th">23rd</option>
        <option value="astor place">Astor place</option>   
    </select>  
    </p>
    <p>
    <button>Submit</button> 
    </p>
</form>