<h1>There are <%= @stations_num %> staitons. Plese see the station details below: </h1>

<% @stations.each do |s| %>
<div class="stations">
    <ul>
    <li><%= s %></li>
    </ul>
</div>
<% end %>




<%= erb :home, :layout => false %>